<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/common.css">
<form name="head" method="get" action="/">
	<div class="menu">
		<ul class="menu-left">
			<li><img src="/static/image/logo.png"></li>
			<li><a href="/">Home</a></li>
			<li><a href="/create_issue">Create Issue</a></li>
			<li>Search<input type="text" name="search" value="{{searchValue}}"></li>
		</ul>
		<ul class="menu-right">
			<li><a href="/logout" style="float: right;">Logout</a></li>
			<li><a href="/edit" style="float: right;">Edit</a></li>

	<!-- <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> -->

		</ul>

	</div>

</form>
		


