<!DOCTYPE html>
<html>
<head>
				{% include "header.html" %}
	<title>Home Page</title>
	<style type="text/css">
		form {
			background-color:#c8c750b3	;
		}

		table{
			width: 70%;
			padding: 1px;
			border: 1px solid #1C6EA4;
  			background-color: #EEEEEE;
  			text-align: left;
  			border-collapse: collapse;

		}
		td{
			border: groove;
		}
		
		#title{
			background-color: #4a9c8b;
			text-align: center;
			font-weight: bold;
			font-style: oblique;
			color: white;
		}
		#content{
			background-color:#d4d3d000;
			padding: 10px;
		}

	</style>

</head>
<body bgcolor="#50848080">
	
	<center><br><br>
		<table>

			<tr id="title">
				<td><u>ID</u></td><td>Title</td><td>Description</td><td>View</td>
			</tr>
			{% for row in record %}
				<tr id = "content"><td>{{row.id}}</td><td>{{row.title}}</td><td>{{row.description}}</td><td><a href="/view_issue/{{row.id}}">View</a></td></tr>
			{% endfor %}
			</tr>
		
		</table>
	</center>
</body>
</html>