<!DOCTYPE html>
<html>
<head>
				{% include "header.html" %}
	<title>Home Page</title>
	<style type="text/css">
		 form {
			background-color:#c8c750b3	;
		}
	</style>

</head>
<body bgcolor="#50848080">
	<!--
	<form name="head" method="post" action="/home_search_result/">
		<table align="right">
			<tr><br><br>
				<td><LABEL> STACK</LABEL></td>
				<td><a href="/create_issue"><input type="button" name="" value="CreateIssue"></a></td>
				<td><input type="button" name="" value="Menu2"></td>
				<td><input type="button" name="" value="Menu3"></td>

			</tr>
		</table><br><br>
		<table><center>
			
			Search: <input type="text" size="70" name="search">


		</center>
		</table><br>

	</form><br>
	<center>
	
	<table>
		<tr><br><br>

		
		-->
		<center>
		<table>

		<tr><td><u>ID</u></td><td>Title</td><td>Description</td></tr>
		{% for row in record %}
			<tr><td>{{id}}</td><td>{{title}}</td><td>{{description}}</td><td><a href="/view_issue/{{id}}">View</a></td></tr>
		{% endfor %}
		</tr>
		
		</table>
		</center>

	</center>

</body>
</html>