<!DOCTYPE html>
<html>
<head>
				{% include "header.html" %}
				<link rel="stylesheet" type="text/css" href="/static/css/common.css">


	<title>
		Issue Submission
	</title>
<style type="text/css">
		form {
			background-color:#c8c750b3	;

		}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



</style>


</head>
<body bgcolor="#50848080">
	<form method="post">
		

	<center>
		
	<table >
		<tr>
			<td><br><label> CREATE ISSUE </label> </td>
		</tr>
		<tr>
			<td>Title : <input type="text" size="80" id="tt" name="title"></td><br>
			
		</tr>
		<tr>
			<td>Description: <textarea id="des" name="description" style="width: 100%; height: 100px"> </textarea>  </td>
			
		</tr>
		<tr>
			<td><center>
				
				<input type="Reset" name="" value="Reset" class="button red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="submit" onclick="return validation()" name="" value="Submit" class="button">
				</center>
			</td>
		</tr>
	</table>
	
	

	</center>
	
	</form>

	
           

</body>
<script>
	function validation() {

		var a = document.getElementById('tt').value;

		var b = document.getElementById('des').value;


		if (a == "")
		{

			alert("Enter the Title")
			return false 
		}

		else if(b == "")
		{

			alert("Enther the Description")
			return false
		}
		else
			alert("Your Issues Submitted")


	}
	
</script>
</html>