<!DOCTYPE html>	
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/common.css">

<style type="text/css">
  body {
  	background:#9c8581b3 ;
  	color: white;
  	padding-top: 120px;
  }
	form {
		background:#0f0d0db3 ; 
		width: 600px;
		
	}
</style>
	<title> Issue Stack Login </title>

<script>
	function validation(){
		
		var username,password;
		username = document.getElementById('username').value;
		password = document.getElementById('password').value;

		if(username.trim() == ""){
			alert("Enter Username");
			document.getElementById('username').focus()
			return false;

		}
		else if(password.trim() == ""){
			alert("Enter Password");
			document.getElementById('password').focus()
			return false;
		}
		
	}
</script>
	
</head>
<body>
<center>
	
<form name="login" method="POST"> <br>
	<img src="/static/image/logo.png">

<table> 
	<tr>
		<td>Username :</td><td><input type="text" id="username" placeholder="Enter Username" size="30"  name="username"></td>
	</tr>
	<tr>
		
		<td>Password :</td><td>  <input type="Password" id="password" placeholder="Enter Password" size="30" name="password"></td>
	</tr>
	<tr>
		<td></td><td>
		<center>
			<input type="reset" name=""  value="Reset" class="button red"> &nbsp;&nbsp;&nbsp;
			<input type="submit" name="" onclick="return validation()" value="Login" class="button">
		</center>
		</td>
		

	</tr>
</table>

</form>
</center>	

</body>
</html>